<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<h2>Ultimate Score Board!</h2>
	<p>
	  India's Ultimate Frisbee tournament details, teams participating, players, games, scores ... are tracked and found in Ultimate Score Board.
	</p>
    <%= link_to "Get Started", tournaments_path, class: "btn btn-default btn-success" %>
</div>