  <header class="navbar navbar-inverse navbar-fixed-top">
  	<div class="navbar-inner">
      <div class="container">
      	<div>
      	  <%= link_to "Score Board", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to t('.tournaments'), tournaments_path %></li>
            </ul>
          </nav>
        </div>
      </div>
  </header>